.colunas{    
    text-align: center;
    width: 100px;
    background-color: #ccccff;
}

.login{
    position: absolute;
    top: 20%;
    left: 30%;
    width: 40%;
    background-color: #eee;
    text-align: center;
}

.negado{
    position: absolute;
    top: 20%;
    left: 10%;
    width: 80%;
    height: 10%;
    background-color: #f00;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}

.textDenied{
    position: relative;
    left: 10%;
    height: 30%;
    width: 80%;
    background-color: #eee;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
}

footer {
    position:fixed;
    bottom:0px;
    width:100%;
    text-align: center;
    font-size: 11px;
    background-color: #ddd;
    clear:both;
}

#box{
    left:50%;
    margin:200px 0 0 -100px; 
    position:absolute; 
    top:50%;
    color: #f00;
    width:100%;
}

.form-signin {
    max-width: 280px;
    padding: 19px 29px 29px;
    margin: 15% auto 10%;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
    background-color: #eee;
}