.cabecalho{
    background-color: #33ff00;
}

.colunas{    
    text-align: center;
    width: 100px;
    background-color: #ccccff;
}
.colunaBotoes{
    width: 45px;
    text-align: center;
    background-color: #ffffff;
}

.body{
    position: absolute;
    top: 15%;
    left: 15%;
    width: 70%;
    background-color: #eee;
}

.erro{
    color: red;
    size: 10px;
}

.login{
    position: absolute;
    top: 20%;
    left: 30%;
    width: 40%;
    background-color: #eee;
    text-align: center;
}

.negado{
    position: absolute;
    top: 20%;
    left: 10%;
    width: 80%;
    height: 10%;
    background-color: #f00;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}

.textDenied{
    position: relative;
    left: 10%;
    height: 30%;
    width: 80%;
    background-color: #eee;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
}