<?xml version="1.0" encoding="UTF-8"?>

<beans:beans xmlns="http://www.springframework.org/schema/security"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:beans="http://www.springframework.org/schema/beans"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
http://www.springframework.org/schema/security
http://www.springframework.org/schema/security/spring-security-3.1.xsd">
    
    <http auto-config="true" access-denied-page="/accessDenied.jsp">
        <form-login login-page="/login.jsp" authentication-failure-url="/login.jsp?error=invalido"
        default-target-url="/faces/index.jsp"/>
        <intercept-url pattern="/faces/**" access="ROLE_ADMIN"/>
        <intercept-url pattern="/index.jsp" access="ROLE_ADMIN"/>
        <logout logout-success-url="/login.jsp"/>
    </http>
    
    <beans:bean id="dbExames" class="org.springframework.jdbc.datasource.DriverManagerDataSource" >
        <beans:property name="url" value="jdbc:mysql://localhost:3306/dbExames" />
        <beans:property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <beans:property name="username" value="root" />
        <beans:property name="password" value="123456" />
    </beans:bean>
    
    <authentication-manager>
        <authentication-provider>
            <jdbc-user-service data-source-ref="dbExames"
users-by-username-query="SELECT username, password, 'true' as enable FROM users WHERE username=?"
authorities-by-username-query="SELECT username, authority FROM users WHERE username=?"/>
        </authentication-provider>
    </authentication-manager>
    

</beans:beans>
